.body {
  color: white;
  margin: auto;
  background-color: #214498f8;
}

.p-d-non {
  padding: 0%;
  margin: 0%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.nav {
  padding: 1rem;
  background-color: #334ca7;
  display: flex;
  justify-content: space-between;
}

.nav-icons {
  display: flex;
  align-self: flex-end;
}

.nav-icon {
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav-heading {
  margin-left: 1rem;
}

.page-heading {
  display: flex;
  text-align: center;
  width: 80%;
  margin: 1rem auto;
}

.country-details {
  width: 100%;
  margin: auto;
  background-color: #214498f8;
  display: flex;
  flex-wrap: wrap;
}

.country-data {
  width: 49%;
  margin: 1px;
}

.country-data:nth-child(4n+1),
.country-data:nth-child(4n+4) {
  background-color: #334ca7;
}

.flag-img {
  width: 100px;
  height: 50px;
  margin-top: 1rem;
  margin-left: 1rem;
}

.country-cases {
  margin: 1rem;
  text-align: end;
}

.europe-img {
  width: 100px;
  height: 100px;
  color: #a79d9d;
}

.europe-img-desc {
  margin-left: 2rem;
  font-size: 1.5em;
}

.country {
  text-transform: uppercase;
}

.details-heading {
  margin: auto;
}

.details-heading-data {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  padding-right: 1rem;
  text-transform: uppercase;
}

.details-heading-data-t {
  font-size: 1.5em;
  padding: 0%;
  margin: 0%;
}

.details-heading-data-tc {
  font-size: 1.2em;
  padding: 0%;
  margin: 0%;
}

.details-div {
  color: white;
  margin: auto;
  padding: 0%;
}

.details-page {
  width: 100%;
}

.details-div-li {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
}

.details-div-li:nth-child(odd) {
  color: white;
  background-color: #334ca7;
}

.details-div-li:nth-child(even) {
  color: white;
  background-color: #214498f8;
}

.heading-p {
  display: flex;
  background-color: #214498f8;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  padding-left: 1rem;
  align-items: center;
  justify-content: space-between;
}

.filter {
  width: 100px;
  background-color: #334ca7;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.buttonn {
  cursor: pointer;
  border: none;
  background-color: #334ca7;
  color: white;
  margin: 0.2rem;
}

.filter-btns {
  display: flex;
  flex-direction: column;
}
